body{
    margin: 0;
    padding-top: 8px;
    background-color:#9FA2B2 ;
}
.home_header{
    background-color: #DBC2CF;
   height: 65px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
   font-size:1.5rem;
   letter-spacing: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 8px;

}
.header_heading{

   font-family: Ubuntu;
    color: #3C7A89;
    text-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.header_image{
    margin-left: 10px;
    height: 60px;
    object-fit: contain;
}