.main_body{
    width: 100%;
    display: flex;
}
.posts_con{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    /* margin-left: 10px; */
    margin-right: 20px;
    flex: 0.8;

}
.form_con{
    /* border: 2px solid blue; */
    /* border-left: 2px solid #3C7A89; */
    padding-left: 4px;
    flex:0.2;
}