.form_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.form_container>h4{
    color: #2E4756;
   font-size: 20px;
    font-family: Ubuntu;
    
}
.form{
    display: flex;
    flex-direction: column;
}
.clear_button{
    font-size: 1rem;
    margin-left: 4px;
    width: 90%;
    height: 30px;
    border-radius: .3rem;
    border: none;
    background-color: #2E4756;
    color: white;
    transition: 450ms;
}
.clear_button:hover{
    scale: 1.05;
    font-size: 1.2rem;
}
.submit_button{
    font-size: 1rem;
    margin-top: 4px;
    border: none;
    height: 30px;
    margin-bottom: 4px;
    margin-left: 4px;
    width: 90%;
    border-radius: .3rem;
    background-color: #16262E;
    color: white;
    transition: 450ms;
}
.submit_button:hover{
    font-size: 1.2rem;
    scale: 1.05;
}

.text_center{
    font-family: serif;
    color: #DBC2CF;
    text-transform: uppercase;
    font-size: 23px;
    margin: -50px 0 30px 0;
    display: block;
    text-align: center;
}
.form_input{
	position:relative;
	margin-bottom:25px;
}
.form_input label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#DBC2CF;	
	transition: all 0.5s ease-in-out;
}
.form_input input{ 
  border:0;
  border-bottom:2px solid #16262E;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#2E4756;
}
.form_input input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #16262E;	
}
.form_input input:focus ~ label,
.form_input input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
.file_input{
   background-color: #16262E;
}